<form id="parent-info-form"
      class="form"
      data-bind="attr: {'data-hasrequired': $t('* Required Fields')}"
      autocomplete="off">
    <fieldset class="fieldset">
        <legend data-bind="i18n: 'Parent Info Form'"></legend>
        <!-- ko foreach: getRegion('parent-info-form-fields') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </fieldset>

    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" data-bind="click: onSubmit" class="action primary checkout-parent-info">
                <span data-bind="i18n: 'Place Order'"></span>
            </button>
        </div>
        <div class="secondary">
            <button type="reset">
                <span data-bind="i18n: 'Reset'"></span>
            </button>
        </div>
    </div>
</form>
